body{
    background-color: blue;
    color:white;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    background-blend-mode: screen;
    background-image: url(https://cdn.hipwallpaper.com/i/91/53/YDkwni.jpg);
  
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 4%;
    margin: 3.125rem auto 0 auto;
}
#survey-form{
    background-color: hsl(234, 28%, 46%);
    border-radius: .25rem;
    max-height: 50%;
    opacity: 75%;
    align-items: center;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 150px;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    width:100%;
}
.form-control{
    width:90%;
}
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
#title{
    font-size: 40px;
    text-align: center;
    padding-bottom: 8px;
    background-color: hsl(254, 76%, 87%);
    color: rgb(0, 0, 0);
    border-radius: 30%;
    margin-left: 400px;
    margin-right: 400px;
}
label{
    display: flex;
    align-items: center;
}

#dropdown{
    position: relative;
    left: 20px;
}
.input-textarea{
    width: 50%;
    height: 100%;
    resize: vertical;
}
#submit{
    width: 99%;
    background-color: green;
    color:white;
    z-index: 1;
}