.navbar {
  background-color: #130f40 !important;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); 
  height: 15vh;
}

.navbar-brand {
  color: #8ffcff !important;
  font-weight: bold;
  font-size: 2.5em;
  font-style: italic;
  text-decoration: none;
}

.signup {
  font-size: 2em;
  font-style: italic;
  text-decoration: none;
  margin-top: -3vh;
  margin-left: 150vh;
}

.login {
  font-size: 2em;
  font-style: italic;
  text-decoration: none;
  margin-left: 135vh;
  margin-top: -5vh;
}
