.btns {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.btn-all {
    font-family: 'Alconica';
    font-size: 1.5em;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 8vh;
    margin-left: 2vh;
}

.btn-boroughs {
    font-family: 'Alconica';
    font-size: 1.5em;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin-top: 65vh;
    margin-left: 2vh;
}

.btn-all:before, .btn-boroughs:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .btn-all:active, .btn-boroughs:active {
    color: #000;
  }
  
  .btn-all:active:after, .btn-boroughs:active:after {
    background: transparent;
  }
  
  .btn-all:hover:before, .btn-boroughs:hover:before {
    opacity: 1;
  }
  
  .btn-all:after, .btn-boroughs:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  